# URL base de la Harry Potter API
# Solo HpApiService (Facade) la consume internamente
HP_API_BASE_URL=https://hp-api.onrender.com

# Puerto del servidor NestJS
PORT=3000

# Entorno de ejecucion
NODE_ENV=development
